<p>eventbind works!</p>
<!-- <button (click)="onAddCart()">Add to cart</button> -->

<!-- <input type="text" value="myinputtext" (click)="onInputClick($event)">
 -->
<!-- 
 <button value="laptop" (click)="onAddCart($event)">Laptop</button>
 <button value="tv" (click)="onAddCart($event)">TV</button>
 <button value="mobile" (click)="onAddCart($event)">Mobile</button>

 <p>{{msg}}</p> -->

<input #inputInfo type="text" value="Uxtrends" name="Aelis">
<button (click)="getInputInfo(inputInfo)">Get Info</button>