<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Sr. No</th>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Product Id</th>
                        <th>Product Price</th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr *ngFor="let mypro of products; index as i">
                        <td>#{{i+1}}</td>
                        <td><img src="{{mypro.proimg}}" width="70px" alt=""></td>
                        <td>{{mypro.name}}</td>
                        <td>{{mypro.id}}</td>
                        <td>{{mypro.price}}</td>
                    </tr>
                </tbody>
            
            </table>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-3">
            <input type="text" name="" class="form-control" #uname placeholder="Username">
        </div>
        <div class="col-md-3">
            <button class="btn btn-success">Create User</button>
        </div>

        <div class="row">
            <div class="col-md-10">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngfor="let user of users"><td>{{user.name}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>