<!--<app-myContainer></app-myContainer>-->
<!-- <app-databind></app-databind>
<app-class-style></app-class-style>
<app-eventbind></app-eventbind>
<app-ngif></app-ngif>
<app-ngswitch></app-ngswitch>
<app-ngfor></app-ngfor> -->

<header>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" router-link="/home" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" router-link="/" routerLinkActive="active" routerLink="about">About</a></li>
            <li class="nav-item"><a class="nav-link" router-link="/" routerLinkActive="active" routerLink="products">Product</a></li>
            <li class="nav-item"><a class="nav-link" router-link="/" routerLinkActive="active" routerLink="contact">Contact us</a></li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>
