<div class="txt-sec">
    <h2 class="heading-blue">Lorem ipsum dolor sit amet</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nostrum totam reprehenderit harum aliquid, optio odit! Dolorum consequuntur eveniet fugiat, id officiis vero omnis nisi dolore mollitia consequatur reiciendis ipsum temporibus libero accusantium architecto itaque, ea expedita officia, provident eligendi soluta eaque tenetur similique! Necessitatibus ipsa cumque id atque quas.</p>
    <a href="#" class="btn btn-blue">Learn More</a>
    <div class="clear"></div>
</div>